*{
    margin:  0;
    padding:  0;
}

body{
    background-color: #333333;
}

.container{
    margin:0 200px;
}

#navbar{
    background-color: #111111;
    height: 60px;
    box-shadow: 1px 0px 3px black; 
    z-index: 5;
}

#navbar li{
    padding:0 10px;
    height: 60px;
    display: inline-block;
}

#navbar a:hover{
    background-color: #444444;
}

#navbar img{
    float: left;
    margin-right: 15px;
    padding: 15px;
    max-height: 27px;
    background-image:url('../images/VaporigLogoTransparent.png');
}


#navbar ul li a{
    padding: 0 10px;
    color: #ffffff;
    text-decoration-line: none;
    line-height: 60px;
    font-size: 18px;
    display: inline-block;
    
}

#footer{
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#showcase{
    z-index: -1;
    overflow: hidden;
    height: 300px;
    background-image: url(../images/ZhuangGeLecture.jpg_large);
    background-position: center;
}

#showcase h1{
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}

.button_default{
    padding: 5px;
    background: #ffffff;
    border-left-style: none;
    border-top-style: none;
    border-radius: 0px 5px;
    border-width: 5px;
    border-right-color: #2c9ccf;
    border-bottom-color: #2c9ccf;
    color: black;
}